{% extends "base.html" %}

{% block title %}External Resources{% endblock %}

{% block content %}
<head>
  <title>External Resources</title>
</head>
<body>
  <div class="container">
    <aside class="sidebar">
      <div class="menu-button">☰</div>
      <nav class="nav">
        <ul>
          <li><a href="#">Home</a></li>
        </ul>
      </nav>
    </aside>
      </header>

      <section class="about-section">
        <div class="about-box">
          <h2>Resources </h2>
          <p>If you are interested in reserching more information regarding investment please feel free to utilise these links to further your knowledge. </p>
          <ul>
            <li><a href="https://www.lloydsbank.com/investing/understanding-investing/investing-for-beginners.html">LLOYDS Investment Information</a></li>
            <li><a href="https://www.investor.gov/introduction-investing">Government Website for Investing</a></li>
            <li><a href="https://uk.investing.com/">Investing.com</a></li>
          </ul></p>
        </div>
      </section>
    </main>
  </div>
</body>
{% endblock %}