{% extends "base.html" %}

{% block title %}External Resources{% endblock %}

{% block content %}

<body>
  <div class="container">
    <main class="main-content">
      <section class="content-box">
        <p>If you are interested in reserching more information regarding investment please feel free to utilise these links to further your knowledge. </p>
        <ul>
            <li><a href="https://www.lloydsbank.com/investing/understanding-investing/investing-for-beginners.html">LLOYDS</a></li>
            <li><a href="https://www.investor.gov/introduction-investing">Gov</a></li>
            <li><a href="#"><span></span></a></li>
          </ul>
      </section>
    </main>
  </div>
</body>

{% endblock %}